/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  /*  background-color: lightgray; */
  color: #2b2b2b;
  padding: 20px;
  background-color: #b4c8c6;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  font-variant: small-caps;
}
h2 {
  font-size: 24px;
  font-weight: 700;
}
h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: #4c4ec5;
}
/* a:visited {
  color: var(--secondary-color);
} */
a:hover,
a:focus {
  /* focus is relevant when navigating the page by keyboard */
  text-decoration: none;
  /*   color: var(--secondary-color); */
}
a:active {
  color: #ff9800;
}

button {
  /* to create links that look like buttons */
  border: none; /* overwrites browser defaults and resets the border */
  display: inline-block;
  font-family: inherit;
  background-color: #009688;
  color: #f1f1f1;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2); /* last number is opacity. 0=transparent, 1=complete opacity */
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s opacity;
  -o-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

@media all and (max-width: 750px) {
  button {
    padding: 10px;
  }
}

.button {
  /* to create links that look like buttons */
  border: none; /* overwrites browser defaults and resets the border */
  display: inline-block;
  font-family: inherit;
  background-color: #3d3fb6;
  color: #f1f1f1;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2); /* last number is opacity. 0=transparent, 1=complete opacity */
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s opacity;
  -o-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

@media all and (max-width: 750px) {
  .button {
    padding: 10px;
  }
}
button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}
button.a:visited {
  color: #f1f1f1;
}
a:visited.button {
  color: #f1f1f1;
}
.buttons {
  clear: both;
  margin-top: 15px;
  margin-bottom: 15px;
}
@media all and (max-width: 750px) {
  .buttons {
    margin-bottom: 10px;
  }
}
@media all and (max-width: 750px) {
  .buttons {
    margin-top: 10px;
  }
}
.button__secondary {
  background-color: #ff9800;
  color: #2b2b2b;
  padding: 10px;
}
@media all and (max-width: 630px) {
  .button {
    display: block;
    max-width: 220px;
    margin: 0 auto;
    margin-top: 15px;
    clear: both;
  }
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* alternatives: https://replit.com/@CFCurriculum/CSS3-grids-and-flexbox-demo-1 */
  width: 100%;
  padding: 15px;
}

@media all and (max-width: 750px) {
  .page-header {
    padding: 10px;
  }
}
.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50px;
  flex: 0 1 50px;
}
.page-header__item:first-child {
  /* = logo */
  max-width: 50px;
  max-height: 50px;
  height: 100%;
}
.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
  overflow: visible;
}
.navigation-list__item--active {
  text-decoration: none;
}
.navigation-list li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 15px;
}

/* --- Transform circle behind top nav on hover --- */
.navigation-list a {
  position: relative;
  z-index: 0;
}
.around a:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90px;
  height: 50px;
  border: 4px solid #ff9800;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
  -ms-transform: translateX(-50%) translateY(-50%) scale(0.8);
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}
.around a:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90px;
  height: 50px;
  border: 4px solid #ff9800;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
  -ms-transform: translateX(-50%) translateY(-50%) scale(0.8);
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}
.around a:after {
  border-width: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.around a:hover:before {
  opacity: 0.6;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -ms-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
}
.around a:hover:after {
  opacity: 0.6;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1.3);
  -ms-transform: translateX(-50%) translateY(-50%) scale(1.3);
  transform: translateX(-50%) translateY(-50%) scale(1.3);
}

.profile,
.about {
  clear: both;
  max-width: 700px;
  margin: 0 auto;
  padding: 15px;
}
ul {
  overflow: hidden;
}
.profile h1,
.about h1 {
  text-align: center;
}
.profile__portrait {
  float: left;
  width: 250px;
  max-width: 100%; /* to make sure it is fully visible on a small screen */
  margin-right: 40px;
  border-radius: 50%;
}

/* ----- About page ----- */
.custom-table {
  clear: both;
  text-align: center;
  margin-top: 30px;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
th {
  padding: 5px 15px 5px 15px;
  border: 1px solid;
}
@media all and (max-width: 750px) {
  th {
    padding: 5px 10px 5px 10px;
  }
}
td {
  padding: 5px 15px 5px 15px;
  border: 1px solid;
}
@media all and (max-width: 750px) {
  td {
    padding: 5px 10px 5px 10px;
  }
}
@media (max-width: 500px) {
  .experience__heading {
    margin-top: 0;
  }
}

/* ----- Work page ----- */
.no-bottom-padding {
  padding-bottom: 0;
  margin-bottom: 0;
}
.no-top-gap {
  padding-top: 0;
  margin-top: 0;
}

.grid {
  /* Grid fallback */
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 15px 40px;
}

@media all and (max-width: 750px) {
  .project-grid {
    padding: 10px 40px;
  }
}
.grid a {
  color: #ff9800;
}
.grid__item {
  /* Grid fallback */
  display: inline-block;
  width: 50%;
  padding: 15px;
  margin: 10px;
  background-color: #2d4592;
  color: #f1f1f1;
  border-radius: 6px;
  border: 1px solid;
  -webkit-box-shadow: 3px 3px 8px rgb(0 0 0 / 30%);
  box-shadow: 3px 3px 8px rgb(0 0 0 / 30%);
  text-align: left;
}
@media all and (max-width: 750px) {
  .project-grid__item {
    padding: 10px;
  }
}
.grid__item h2 {
  text-align: center;
}
@supports (display: grid) {
  .grid {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 25px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }
  .grid__item {
    width: auto;
    min-width: 0;
    max-width: 100%;
    min-height: auto; /* just failsafes to make sure it looks good on every browser */
    padding: 15px 25px 30px 25px;
    margin: 0;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
  }
  /* .project-grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  } */
  .screenshot-container_1pic {
    width: 100%;
    display: -ms-grid;
    display: grid;
    margin: 0;
  }
  .screenshot-container_2pics {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    margin: 0;
    grid-auto-rows: 1fr;
  }
  @media all and (max-width: 750px) {
    .screenshot-container_2pics {
      grid-gap: 10px;
    }
  }
  .screenshot-container_3pics {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin: 0;
    grid-auto-rows: 1fr;
  }
  @media all and (max-width: 750px) {
    .screenshot-container_3pics {
      grid-gap: 10px;
    }
  }
  .screenshot {
    width: auto;
    min-width: 0;
    max-width: 100%;
    min-height: auto;
    height: 100%;
    margin: 0;
    border: 3px solid #f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow: 3px 3px 8px rgb(0 0 0 / 30%);
    box-shadow: 3px 3px 8px rgb(0 0 0 / 30%);
  }
}

/* .screenshot-container:last-child {
  margin-left: -3px;
} */
@media all and (max-width: 1000px) {
  .screenshot-container_2pics {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (max-width: 750px) {
  .project-grid {
    grid-gap: 10px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .screenshot-container_2pics {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
  }
  /* .project-grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  } */
}
@media all and (max-width: 500px) {
  .screenshot-container_2pics {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  /*   .screenshot-container_3pics {
    grid-template-columns: 1fr;
  } */
}
/* @media all and (min-width: 500px) and (max-width: 750px) {
  .project-grid {
    grid-template-columns: 1fr 1fr;
  }
} */

/* ----- contact page (designed MOBILE FIRST) ----- */
.contact-details {
  text-align: center;
  margin: 0 auto;
  line-height: 1.8;
}
.contact-details h3 {
  margin-bottom: 10px;
}

form {
  padding: 1em;
  background: #2d4592;
  color: #f1f1f1;
  border-radius: 6px;
  border: 1px solid #c1c1c1;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}
form input {
  background: #fff;
  border: 1px solid #9c9c9c;
  border-radius: 3px;
  width: 100%;
  padding: 0.7em;
  margin-bottom: 0.5rem;
}
form textarea {
  background: #fff;
  border: 1px solid #9c9c9c;
  border-radius: 3px;
  width: 100%;
  padding: 0.7em;
  margin-bottom: 0.5rem;
}
form label {
  text-align: left;
  display: block;
  width: 100%;
  padding: 0.5em 1.5em 0.5em 0;
}
form button {
  margin-top: 15px;
}
@media all and (max-width: 750px) {
  form button {
    margin-top: 10px;
  }
}
.error-message {
  color: red;
  font-size: 0.8em;
}

@media (min-width: 400px) {
  form {
    overflow: hidden;
  }
  form label {
    float: left;
    width: 150px;
    text-align: right;
  }
  form input {
    float: left;
    width: calc(100% - 150px);
  }
  form textarea {
    float: left;
    width: calc(100% - 150px);
  }
}

/* ----- Footer ----- */
.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  /*
  max-width: 200px;
  margin: 30px auto;  the 30px top&bottom margin do not seem to have any effect because they are relating to the buttons instead of the closest element, which would be the profile pic
  margin-top: 200px; */
}
.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-item {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin: 8px;
  background-color: rgb(0, 160, 253);
  border: 1px solid #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}
.flex-item:hover {
  -webkit-transform: translateY(-0.25rem);
  -ms-transform: translateY(-0.25rem);
  transform: translateY(-0.25rem);
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.icon {
  max-width: 30px;
}

/* ----- general classes ----- */
.aligncenter {
  text-align: center;
  margin: 0 auto;
}
.cleared {
  /* display: block; */
  clear: both;
}

/* ----- Adaptations for small screens ----- */
@media all and (max-width: 750px) {
  /* shared code for all smaller screens */
  h1 {
    font-size: 22px;
  }
}
@media all and (max-width: 500px) {
  body {
    padding: 15px; /* 10px */
  }
  @media all and (max-width: 750px) {
    body {
      padding: 10px;
    }
  }
  .profile__portrait {
    /* display: static; */
    float: none;
    margin: 0;
  }
  .mobile-start {
    clear: both;
    padding-top: 15px; /* 10px */
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
  }
  @media all and (max-width: 750px) {
    .mobile-clear {
      padding-top: 10px;
    }
  }
}
